@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Montserrat", sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  color: var(--white);

  /* CSS variables */
  --white: #ededed;
  --rich-black: #061826;
  --dark-gray: #0d1d2a;
  --card-bg: #13222d;
  --teal: #00afb9;
  --gray: #2c3e50;
  --orange: #f39c12;
  --light-gray: #bdc3c7;
}

body {
  background: var(--rich-black);
}

/* Navigation Bar */
.nav-bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  position: relative;
  padding: 12px 20px;
  background: var(--dark-gray);
}
.logo a {
  color: var(--white);
}
.logo img {
  width: 40px;
}
.menu {
  display: flex;
  background: var(--dark-gray);
}
.menu li {
  padding: 1rem;
}
.menu li a {
  display: inline-block;
  text-decoration: none;
  color: var(--light-gray);
  text-align: center;
  transition: 0.15s ease-in-out;
  position: relative;
  /* text-transform: uppercase; */
}
.menu li a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1px;
  background-color: var(--teal);
  transition: 0.15s ease-in-out;
}
.menu li a:hover:after {
  width: 100%;
}
.menu li a:hover {
  color: var(--teal);
}
.open-menu,
.close-menu {
  position: absolute;
  color: var(--white);
  cursor: pointer;
  font-size: 1.5rem;
  display: none;
}
.open-menu {
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}
.close-menu {
  top: 20px;
  right: 20px;
}
#check {
  display: none;
}
@media (max-width: 610px) {
  .menu {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5rem;
    /* width: 80%; */
    height: 100vh;
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 100;
    transition: all 0.3s ease-in-out;
  }
  .menu li {
    /* margin-top: 40px; */
    padding: 0;
  }
  .menu li a {
    padding: 10px;
  }
  .open-menu,
  .close-menu {
    display: block;
  }
  #check:checked ~ .menu {
    right: 0;
  }
}
